.DS_Store
report.docx
R12942159.zip
part2/__pycache__/
part2/testdata/filtered_rgb_highest_cost.png
part2/testdata/filtered_rgb_highest_cost2.png
part2/testdata/filtered_rgb_lowest_cost.png
part2/testdata/filtered_rgb_lowest_cost2.png
part2/testdata/gray_highest_cost.png
part2/testdata/gray_highest_cost2.png
part2/testdata/gray_lowest_cost.png
part2/testdata/gray_lowest_cost2.png