.DS_Store
Hw1/report.docx
Hw1/R12942159.zip
Hw1/requirements.txt
Hw1/part2/__pycache__/
Hw1/part2/testdata/filtered_rgb_highest_cost.png
Hw1/part2/testdata/filtered_rgb_highest_cost2.png
Hw1/part2/testdata/filtered_rgb_lowest_cost.png
Hw1/part2/testdata/filtered_rgb_lowest_cost2.png
Hw1/part2/testdata/gray_highest_cost.png
Hw1/part2/testdata/gray_highest_cost2.png
Hw1/part2/testdata/gray_lowest_cost.png
Hw1/part2/testdata/gray_lowest_cost2.png
Hw2/hw2_data
Hw2/report_template.docx
Hw2/p2/__pycache__
Hw2/p2/checkpoint
Hw2/p2/output